body {
    background-color: white;
}

#page-home .content {
    background-color: #4744DB;
    height: 10vh;
    margin-top: 0vh;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#botao1 {
    position: relative;
    top: -100px;
    left: 420px;
}

#botao2 {
    position: relative;
    top: -100px;
    left: 725px;
}

#botao3 {
    position: relative;
    top: -100px;
    left: 1025px;
}
    

h1 {
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

#image1 {
    position: relative;
    left: 700px;

}

#image2 {
    position: relative;
    top: -100px;
    left: 1080px;
}


#page-home main p{
    font-size: 30px;
    font-weight: bold;
}



p {
    display: inline-flex;
    position: relative;
    top: 10px;
    left: 150px;
}

#panturrilha {
    left: 150px;
}
#pantuimg {
    width: 25%;
    border-radius: 20px;
    position: relative;
    bottom: -75px;
    right: 130px;
}

#agachamento {
    left: 300px;
}

#agachaimg {
    width: 33%;
    border-radius: 25px;
    position: relative;
    bottom: -75px;
    right: 190px;
}

#passada{
    left: 300px
}

#passadaimg {
    width: 40%;
    position: relative;
    bottom: -75px;
    left: -100px;
}

#agacha-salto {
    left: 470px;
}

#agachasaltoimg {
    width: 35%;
    position: relative;
    bottom: -75px;
    left: -275px;
}

#agachaiso {
    padding: 100px;
    left: 175px;
}

#agachaisoimg {
    width: 25%;
    position: relative;
    bottom: -75px;
    left: -275px;
}

#afundo{
    left: 150px
}

#afundoimg {
    width: 25%;
    position: relative;
    bottom: -75px;
    left: -160px;
}

#agachasumo{
    left: 275px
}

#agachasumoimg {
    width: 30%;
    position: relative;
    bottom: -75px;
    left: -190px;
}